.calculator {
  flex: 1;
  display: grid;
  place-items: center;
}

.calculator-inner {
  width: 320px;
  background: #d1d1d1;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  padding: 6px;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
}

.calculator-input {
  grid-column: 1 / 5;
  background: #858693;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-align: right;
  color: white;
}

.calculator-button {
  background-color: #e0e0e0;
  border: 0.5px solid #d1d1d1;
}

.calculator-button:hover {
  opacity: 0.8;
}

.calculator-button:nth-of-type(4n) {
  background-color: #f5913e;
}

.calculator-button:nth-of-type(19) {
  background-color: #f5913e;
}

.calculator-button:nth-of-type(17) {
  grid-column: 1 / 3;
}
